---
version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "postgres"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]